table,th,td{
    border: 1px solid rgba(0, 0, 0, 0.603);
    border-spacing: 0px;
    text-align: center;
}

th,td{
    width: 120px;
}

table{
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 400px;
    width: 600px;
}

div.table{
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}

button{
    cursor: pointer;
}

